/* Reset */

*{
	margin:0;
	padding:0;
	font-family:'Roboto Condensed', sans-serif;

}
nav ul {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 0; /* removes extra space character between li's */
}

nav li {
	display: inline;
	font-size: initial; /* removes extra space character between li's */
}

nav li:not(:last-child) {
	padding-right: 5px;
	border-right: 1px solid #999999;
	margin-right: 5px;
}
h1 {
	text-align:center;
	color:#4E394A;
}

img{
	width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    text-align:center;
	}
p {
	display:block;
}
h2 {
	padding-bottom:20px;
	text-align:center;
}
h3 {
	text-align: left;
	padding-left:20px;
	padding-bottom:2px;
}
ol {
	list-style:inside;
	padding-left:40px;
	padding-bottom:20px;
	line-height:1.5;

}
a {
	color:#272822;
}

body {
	font-family:helvetica;
	color:grey;
	background: mintcream;
	padding: 20px;
	border:5px dashed darkslategrey;
	margin:20px;
	display:block;

	}
p {
	padding-left:30px;
	padding-right:30px;
	text-align: center;

}

span {
	display:inline-block;
	font-size:.85em;
}

div {
	padding-left:30px;
	max-width: 800px;
}
strong {
	font-weight:bolder;
	display: block-inline;
}
div {
	text-align: left;
}

