/* CSS Reset */

* {
	margin:0;
	padding:0;
}
ul {
	list-style: none;
}

body {
	background: grey;
	padding: 20px;
	border:3px solid lightgrey;
	margin:20px;
	width:600px;
}

header {
	text-align:center;
}

li {
	display: inline;
}
img {
	float:right;
}

</style>