/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}

html {
	font-family: 'PT Serif', serif;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  color: #5a5a5a;
  
}

.topnav {
	position: relative;
	height:50px;
}

.header {
  min-height:500px;
  	
}
.banner {
  position:absolute;
  max-width:100%;
  max-height: 539px;
  width:1270px;

}

.nav {
	display: flex;
	justify-content: flex-end;
	list-style:none;
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:41px;
	background: rgba(255,255,255,0.85);
  

}
.nav a {
	text-decoration: none;
	color:black;
}
.nav li {
	margin-right:35px;
	padding-top:10px;
}
.logo {
	position:relative;
	left:0;
    top:0;
	z-index: 11;
	max-width:19%;
  border:solid silver 1px;
	
}
h2 {
  font-size: 20px;
  padding-bottom:13px;
}
.social {
  overflow: hidden;
  height:420px;
  margin:20px;
  display: flex;
  margin-bottom:65px;
}

.instagram {
  flex:1;
  position: relative;
  display: inline-block;
  text-align: center;
}

.facebook {
  flex:1;
  position:relative;
  display: inline-block;
  text-align: center;
}



@media (max-width:480px) {
  .header {
    min-height: 200px;
  }
  .social {
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
  }  
}
