/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}

html {
	font-family: 'PT Serif', serif;
}

body {
  color: #5a5a5a;
  
}

.topnav {
	position: relative;
	height:50px;
}

.header {
  height:600px;
  max-height:100%;
  	
}
.banner {
  position:absolute;
  max-width:100%;

}

.nav {
	display: flex;
	justify-content: flex-end;
	list-style:none;
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:41px;
	background: rgba(255,255,255,0.85);

}
.nav a {
	text-decoration: none;
	color:black;
}
.nav li {
	margin-right:35px;
	padding-top:10px;
}
.logo {
	position:relative;
	left:0;
    top:0;
	z-index: 11;
	max-width:25%;
	
}

iframe {
	position:absolute;
	top:53px;
	left:100px;
}

.fb-page {
	position:absolute;
	width:711px;
	top:-392px;
	float:right;
}

.social {
  position:absolute;
}

