* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;

}

html {
	font-family: 'PT Serif', serif;
	background-image:url("contact.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	-ms-text-size-adjust: 100%; /* 2 */
  	-webkit-text-size-adjust: 100%; /* 2 */
}

.topnav {
	position: relative;
	height:50px;
}

.nav {
	display: flex;
	justify-content: flex-end;
	list-style:none;
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:41px;
	background: rgba(255,255,255,0.85);

}
.nav a {
	text-decoration: none;
	color:black;
}
.nav li {
	margin-right:35px;
	padding-top:10px;
}
.logo {
	position:relative;
	left:0;
    top:0;
	z-index: 11;
	max-width:25%;
	
}
h1 {
	color:white;
	font-size: 40px;
	text-align: center;
    margin-top: 100px;
    margin-bottom: -118px;
}
.form {
	text-align: center;
}
form {
	background:rgba(245,245,245,0.85);
	border:gray;
	max-width:500px;
	margin-top:124px;
	display:inline-block;
	margin-bottom:100px;
	padding:4%

}
.contact-input {
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	

}
input,
select,
textarea  {
	display:block;
	max-height:40px;
	max-width:100%;
	padding:10px;
	border-radius: 6px;
	border:1px solid gray;
	margin:20px;


}

select {
    width: 173px;
    padding: 5px;
    border: 1px solid gray;
    height: 34px;
    -moz-appearance: none;
    appearance: none;
    color:dimgray;
    margin-left:20px;
}

button {
	display: block;
	padding:8px;
	border:none;
	border-radius:6px;
	margin-top:8px;

}
@media (max-width:480px) {
	html {
		background-size:295%;
	}
	body {
		height:100%;
		border:solid 4px blue;
	}
	
}
