
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  font-family: 'PT Serif', serif;
}

.topnav {
  position: relative;
  height:50px;
}

.banner {
  width:100%;
  position: absolute;
  max-height: 535px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  list-style:none;
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:41px;
  background:rgba(162, 152, 152, 0.19);
}

.nav a {
  text-decoration: none;
  color:black;
}

.nav li {
  margin-right:35px;
  padding-top:10px;
}

.logo {
  position:relative;
  left:0;
    top:0;
  z-index: 11;
  max-width:25%;
  border:solid 1px silver; 

}

#primary_nav_wrap {
  margin-top: 4px;
  margin-right:300px;
  float:right;
  border:solid black 1px;
  border-radius: 20px;
}

#primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  border-radius:20px;
}

#primary_nav_wrap ul a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
}

#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#primary_nav_wrap ul li.current-menu-item {
  background: #ddd;
  margin-top:10px;
}

#primary_nav_wrap ul li:hover {
  background: #f6f6f6;
  border-radius: 20px;
}

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  background: #fff;
  padding: 0
}

#primary_nav_wrap ul ul li {
  float: none;
  width: 114px
}

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%
}

#primary_nav_wrap ul li:hover > ul {
  display: block
}

body {
  display:inline;
}
.product-info {
  display: flex;
  margin:200px;
  align-items: center;
  
}
.img-box {
  flex:1;
  height:320px;
  width:133px;
  margin-left:50px;

}

h1 {
  font-size:30px;
}
h2 {
  font-size:10px;
  color:firebrick;
}

.description {
  flex:2;
  max-width:550px;

}

@media (max-width: 890px) {
  .product-info {
    display: flex;
    flex-direction:column;
    margin-top:110px;
  }
  .img-box {
    flex:1;
    height:241px;
    
  }
  .prod-img {
    height:241px;
  }
  .description {
    flex:1;
    min-width:300px;
  }
  #primary_nav_wrap {
    margin-right:54px;
  }
}


